
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>404 error page Responsive  Website Template | Home :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://p.w3layouts.com/demos/404_error_page/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <div class="wrap">
    <div class="content">
      <div class="logo">
        <h1><a href="#"><img src="https://p.w3layouts.com/demos/404_error_page/web/images/logo.png"/></a></h1>
        <span><img src="https://p.w3layouts.com/demos/404_error_page/web/images/signal.png"/>Oops! The Page you requested was not found!</span>
      </div>
      <div class="buttom">
        <div class="seach_bar">
          <p>you can go to <span><a href="/info">info</a></span> page</p>
          <!-- <div class="search_box">
          <form>
            <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
            </form>
          </div>
        </div> -->
      </div>
    </div>
  <p class="copy_right">&#169; 2014 404 error page. All rights reserved | Template by<a href="http://w3layouts.com" target="_blank">&nbsp;w3layouts</a> </p>
  </div>

  <!---------end-wrap---------->
</body>
</html>
